<div class="animated fadeIn">
  <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Add Test Type</strong>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label>Test Name</label>
                    <input type="text" class="form-control" placeholder="Test Name">
                  </div>
                </div>
              </div>
              <button class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
             <strong>Test Type List</strong>
          </div>
          <div class="card-body">
          <div class="table-responsive">
                <table class="table table-hover">
                  <thead class=" text-primary">
                    <th>Test Type</th>
                    <th>Option</th>
                    <th>Option</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        Mock Test
                      </td>
                      <td>
                        <button class="btn btn-sm btn-info">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Practice Test
                      </td>
                      <td>
                        <button class="btn btn-sm btn-info">Edit</button>
                      </td>
                      <td>
                        <button class="btn btn-sm btn-danger">Delete</button>
                      </td>
                    </tr>
                    </tbody>
                </table>
          </div>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
               <strong>Test Type List</strong>
            </div>
            <div class="card-body">
            <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class=" text-primary">
                      <th>Test Type</th>
                      <th>Option</th>
                      <th>Option</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Mock Test
                        </td>
                        <td>
                          <button class="btn btn-sm btn-info">Edit</button>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          Practice Test
                        </td>
                        <td>
                          <button class="btn btn-sm btn-info">Edit</button>
                        </td>
                        <td>
                          <button class="btn btn-sm btn-danger">Delete</button>
                        </td>
                      </tr>
                      </tbody>
                  </table>
            </div>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
            </div>
          </div>
        </div>
       
    </div> -->
<div>
  </div>
</div>