<div class="animated fadeIn">
  <div class="container">
    <button class="btn btn-md btn-success" (click)="changeShowStatus()">Add New</button>
    <hr>
    <div *ngIf="showAddDiv" class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title">Add Test Type</strong>
          </div>
          <div class="card-body">
            <form id="TestTypeForm" name ="Form1" (ngSubmit)="AddTestType()" #testTypeForm="ngForm">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label>Test Name</label>
                    <input name="TestType" [(ngModel)]="testTypeModel.TestType" TestType="ngModel" id="TestType" type="text" class="form-control" >
                    <input name="TestTypeID" hidden [(ngModel)]="testTypeModel.TestTypeID" TestTypeID="ngModel" id="TestTypeID" type="text" class="form-control" >
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>   
    <div class="row">   
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
             <strong>Test Type List</strong>
          </div>
          <div class="card-body">
          <div class="table-responsive">
                <table class="table table-hover">
                  <thead class=" text-primary">
                    <th>Test Type</th>
                    <th>Action</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let testTypeModel of testType">
                      <td>
                      <input value="{{testTypeModel.TestType}}" name="TestType" [(ngModel)]="testTypeModel.TestType" TestType="ngModel" id="TestType" type="text" class="form-control" >
                      </td>
                      <td>
                        <button (click)="EditTestType(testTypeModel)" class="btn btn-sm btn-info"><strong>Edit</strong></button>
                      </td>
                      <td>
                        <button (click)="DeleteTestType(testTypeModel)" class="btn btn-sm btn-danger"><strong>Delete</strong></button>
                      </td>
                    </tr>
                    </tbody>
                </table>
          </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>