<div class="animated fadeIn">
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Test List</strong>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-outline">
            <thead class="thead-light">
              <th>Test No.</th>
              <th>Test Name</th>
              <th>Test Series</th>
              <th>Test Type</th>
              <th>Duration</th>
              <th>Start Date</th>
              <!-- <th>End Date</th>
                                <th>Course</th>
                                <th>Batch</th> -->
              <th>Test Marks</th>
              <th>View</th>
              <th>Edit</th>
              <th>Delete</th>
            </thead>
            <tbody>
              <tr *ngFor="let studentOnlineTestModel of studentOnlineTest">
                <td>
                  {{onlineTestModel.OnlineTestNo}}
                </td>
                <td>
                  {{onlineTestModel.TestName}}            
                </td>
                <td>
                  {{onlineTestModel.TestSeriesName}}            
                </td>
                <td>
                  {{onlineTestModel.TestTypeName}}            
                </td>
                <td>
                  {{onlineTestModel.TestDuration}}                    
                </td>
                <td>
                  {{onlineTestModel.StartDate | date: 'dd/MM/yyyy'}}                    
                </td>
                <!-- <td>
                                            27/08/2018
                                          </td>
                                          <td>
                                              Foundation 1
                                            </td>
                                            <td>
                                                B1
                                              </td> -->
                <td>
                  {{onlineTestModel.TestMarks}}                    
                </td>
                <td>
                  <!-- <button class="btn btn-sm btn-info" (click)="viewQuestion(onlineTestModel)">View Question</button> -->
                  <a routerLink="../view-question/{{onlineTestModel.OnlineTestID}}"><mat-icon aria-label="icon">visibility</mat-icon></a>
                </td>
                <td>
                  <!-- <button mat-raised-button color="accent" (click)="getOnlineTestById(onlineTestModel)" aria-hidden="true">Edit</button> -->
                  <button mat-icon-button color="primary" (click)="getOnlineTestById(onlineTestModel)" aria-hidden="true" style="outline: 0px;">
                      <mat-icon aria-label="icon">edit</mat-icon>
                    </button>
                </td>
                <td>
                  <!-- <button mat-raised-button color="warn"(click)="deleteOnlineTest(onlineTestModel)" aria-hidden="true">Delete</button> -->
                  <button mat-icon-button color="warn" (click)="deleteOnlineTest(onlineTestModel)" aria-hidden="true" style="outline: 0px;">
                      <mat-icon aria-label="icon">delete</mat-icon>
                    </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Prev</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.col-->
  <!-- <div class="col-lg-6">
          <div class="card">
            <div class="card-header">
              <i class="fa fa-align-justify"></i> Striped Table
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Date registered</th>
                    <th>Role</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Yiorgos Avraamu</td>
                    <td>2012/01/01</td>
                    <td>Member</td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Avram Tarasios</td>
                    <td>2012/02/01</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-danger">Banned</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Quintin Ed</td>
                    <td>2012/02/01</td>
                    <td>Admin</td>
                    <td>
                      <span class="badge badge-secondary">Inactive</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Enéas Kwadwo</td>
                    <td>2012/03/01</td>
                    <td>Member</td>
                    <td>
                      <span class="badge badge-warning">Pending</span>
                    </td>
                  </tr>
                  <tr>
                    <td>Agapetus Tadeáš</td>
                    <td>2012/01/21</td>
                    <td>Staff</td>
                    <td>
                      <span class="badge badge-success">Active</span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
          </div>
        </div> -->
  <!--/.col-->
</div>
</div>