  <ngx-spinner 
    bdColor = "rgba(51, 51, 51, 0.8)"
    size = "large"
    color = "#fff"
    type = "timer">
    <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
  </ngx-spinner>  

<div class="animated fadeIn">
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Test List</strong>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-sm table-hover table-outline">
            <thead class="thead-light">
              <th>Test No.</th>
              <th>Test Name</th>
              <th>Test Series</th>
              <th>Test Type</th>
              <th>Duration</th>
              <th>Start Date</th>
              <th>Test Marks</th>
              <th>Start</th>
            </thead>
            <tbody>
              <tr *ngFor="let studentOnlineTestModel of studentOnlineTest">
                <td>
                  {{studentOnlineTestModel.OnlineTestNo}}
                </td>
                <td>
                  {{studentOnlineTestModel.TestName}}            
                </td>
                <td>
                  {{studentOnlineTestModel.TestSeriesName}}            
                </td>
                <td>
                  {{studentOnlineTestModel.TestTypeName}}            
                </td>
                <td>
                  {{studentOnlineTestModel.TestDuration}}                    
                </td>
                <td>
                  {{studentOnlineTestModel.StartDate | date: 'dd/MM/yyyy'}}                    
                </td>
                <td>
                  {{studentOnlineTestModel.TestMarks}}
                </td>
                <td>
                  <a mat-raised-button color="primary" (click)="redirectToTest(studentOnlineTestModel.OnlineTestID)" >Start Test</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
 
</div>

  

 
 
</div>