.container {
  display: flex;
  flex-direction: column;
}

table {
    width: 100%;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .mat-column-select {
    overflow: initial;
  }
  a:hover{
    text-decoration: none;
  }

  .no-results {
    display: flex;
    justify-content: center;
    padding: 14px;
    font-size: 14px;
    font-style: italic;
  }
  