.Odd{
    // background-color: #ffeb3b;
    // color: black;

    background-color: #fff748;
    color: #3c1a5b;
    
    // background-color: #295f2d;
    // color: #ffe67c;
}

.even
{
    // color: white;
    // background-color: #3f51b5;

    background-color: #3c1a5b;
    color: #fff748;

    // background-color: #ffe67c;
    // color: #295f2d;
}