<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
  <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
</ngx-spinner>
<div style="margin-top: 60px">
  <main class="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="mat-elevation-z8">
            <div class="card card-accent-primary">
              <div class="card-header">
                <strong class="card-title" style="line-height:40px;font-size: 18px;font-weight: 500">Forgot Your
                  Password ? </strong>
              </div>
              <div class="card-body">
                <form id="OTPForm" name="Form1" (ngSubmit)="SendOTP()" #OTPForm="ngForm">
                  <div class="row" *ngIf="IsSendOTPSection && !IsNewPasswordSection">
                    <div class="col-sm-12">
                      <p>Enter your UserName or Enrollment No. to reset your password.</p>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Enter UserName or Enrollment No." autocomplete="off" name="UserName"
                            [(ngModel)]="forgetPasswordViewModel.UserName" #UserName="ngModel" required maxlength="20"
                            type="text">
                          <mat-error *ngIf="UserName.invalid && (UserName.dirty || UserName.touched)">
                            <mat-error *ngIf="UserName.errors.required">UserName is required.</mat-error>
                            <mat-error *ngIf="UserName.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <button mat-raised-button color="primary" [disabled]="!OTPForm.form.valid">SendOTP</button>
                    </div>

                  </div>
                  <div class="row" *ngIf="!IsSendOTPSection && !IsNewPasswordSection">
                    <div class="col-sm-12">
                      <p>Confirm your OTP.</p>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Enter OTP" autocomplete="off" name="ConfirmOTP"
                            [(ngModel)]="forgetPasswordViewModel.ConfirmOTP" #ConfirmOTP="ngModel" required maxlength="20"
                            type="text">
                          <mat-error *ngIf="ConfirmOTP.invalid && (ConfirmOTP.dirty || ConfirmOTP.touched)">
                            <mat-error *ngIf="ConfirmOTP.errors.required">OTP is required.</mat-error>
                            <mat-error *ngIf="ConfirmOTP.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <button mat-raised-button color="primary" [disabled]="!OTPForm.form.valid">Confirm OTP</button>
                    </div>
                  </div>
                  <div class="row" *ngIf="!IsSendOTPSection && IsNewPasswordSection ">
                    <div class="col-sm-12">
                      <p>Enter new password.</p>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="New Password" autocomplete="off" name="NewPassword"
                            [(ngModel)]="forgetPasswordViewModel.NewPassword" #NewPassword="ngModel" required maxlength="20"
                            type="password">
                          <mat-error *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)">
                            <mat-error *ngIf="NewPassword.errors.required">NewPassword is required.</mat-error>
                            <mat-error *ngIf="NewPassword.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>

                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm Password" autocomplete="off" name="ConfirmPassword"
                              [(ngModel)]="forgetPasswordViewModel.ConfirmPassword" #ConfirmPassword="ngModel" required maxlength="20"
                              type="password">
                            <mat-error *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                              <mat-error *ngIf="ConfirmPassword.errors.required">UserName is required.</mat-error>
                              <mat-error *ngIf="ConfirmPassword.errors.maxlength">Reaches maximum limit.</mat-error>
                            </mat-error>
                          </mat-form-field>
                      </div>
                      <button mat-raised-button color="primary" [disabled]="!OTPForm.form.valid">Reset Password</button>
                    </div>
                  </div>
                </form>
                <div class="col-12 ">
                    <a href="/Login" class="btn btn-link px-0 primary">Login</a>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>