img {
    display: block;
    max-width: 100%;
    height: auto; 
    z-index: 1000;
}
// .cdk-overlay-container {
// z-index: 10001 !important;
// }
// .cdk-global-scrollblock
// {
// position: unset !important;
// }