<!-- <div class="card">
<div class="card-header">
  <strong class="card-header">Eligible Student</strong>
</div>
<div class="card-body">
<table class="table table-sm table-hover table-outline">
  <thead class="thead-light">
    <th><mat-checkbox></mat-checkbox></th>
    <th>Enrollment No</th>
    <th>Student Name</th>
    <th>Gender</th>
    <th>Mobile No</th>
  </thead>
  <tbody>
    <tr *ngFor="let eligibleStudentData of eligibleStudent">
      <td>
          <input type="checkbox" (change)="onChangeEligibleStudent(eligibleStudentData.OnlineTestID,eligibleStudentData.StudentID, $event.target.checked)">
      </td>
      <td>
        {{eligibleStudentData.EnrollmentNo}}
      </td>
       <td>
        {{eligibleStudentData.StudentName}}            
      </td>
      <td>
        {{eligibleStudentData.Gender}}            
      </td>
      <td>
        {{eligibleStudentData.MobileNumber}}            
      </td>
    </tr>
  </tbody>
</table>
  <button mat-raised-button color="primary" (click)="addEligibleStudent()" style="outline: 0px;">
      <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
      Save</button>
</div>
</div> -->

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Eligible Student</strong>
        </div>
        <div class="card-body">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" ng-value="row.StudentID">
                  </mat-checkbox>
                </td>
              </ng-container>

              <ng-container matColumnDef="EnrollmentNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> EnrollmentNo </th>
                <td mat-cell *matCellDef="let element"> {{element.EnrollmentNo}} </td>
              </ng-container>

              <ng-container matColumnDef="StudentName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> StudentName </th>
                <td mat-cell *matCellDef="let element"> {{element.StudentName}} </td>
              </ng-container>

              <ng-container matColumnDef="Gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
                <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
              </ng-container>

              <ng-container matColumnDef="MobileNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> MobileNumber </th>
                <td mat-cell *matCellDef="let element"> {{element.MobileNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="FatherMobileNo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> FatherMobileNo </th>
                  <td mat-cell *matCellDef="let element"> {{element.FatherMobileNo}} </td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
              </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button color="primary" (click)="addEligibleStudent()" style="outline: 0px;">
    <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
    Save</button>