<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
  <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
</ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9">
      <h4>Eligible Student</h4>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? pushEligibleStudent(row,$event) : null" [(ngModel)]="row.IsEligible"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="EnrollmentNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> EnrollmentNo </th>
            <td mat-cell *matCellDef="let element"> {{element.EnrollmentNo}} </td>
          </ng-container>

          <ng-container matColumnDef="StudentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> StudentName </th>
            <td mat-cell *matCellDef="let element"> {{element.StudentName}} </td>
          </ng-container>

          <ng-container matColumnDef="Gender">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
            <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
          </ng-container>

          <ng-container matColumnDef="MobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> MobileNumber </th>
            <td mat-cell *matCellDef="let element"> {{element.MobileNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="FatherMobileNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> FatherMobileNo </th>
            <td mat-cell *matCellDef="let element"> {{element.FatherMobileNo}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="PaginationConfig" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <br>
  <button mat-raised-button color="primary" [disabled]="buttonState" (click)="addEligibleStudent()" style="outline: 0px;">
    <mat-icon aria-label="Example icon-button with a heart icon">save</mat-icon>
    Save</button>
</div>