<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Test Details</strong>
        </div>
        <div class="card-body">
          <table class="table table-bordered table-striped table-sm text-center">
            <tbody>
              <tr style="font-size: 16px;font-weight: 600;">
                <td width="33%">Test No.</td>
                <td width="33%">Test Name</td>
                <td width="34%">Test Series</td>
              </tr>
              <tr>
                <td>{{id}}</td>
                <td>General Test 1</td>
                <td>General Test</td>
              </tr>
              <tr style="font-size: 16px;font-weight: 600;">
                <td>Test Type</td>
                <td>Total Marks</td>
                <td>Passing percentage</td>
              </tr>
              <tr>
                <td>Practise Test</td>
                <td>720</td>
                <td>65%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Test Details</strong>
        </div>
        <div class="card-body">
            <div class="tab-pane box active amit" style="overflow-x:auto;">
              <div style="color: #707070; font-size: 15px;padding:8px 0 8px 0px;font-weight: 600;">Subject Name&nbsp;:-Numerical
                Ability</div>
              <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      <div>No.</div>
                    </th>
                    <th>
                      <div>Question Id</div>
                    </th>
                    <th>
                      <div>Question</div>
                    </th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td valign="top">1</td>
                    <td valign="top">61</td>
                    <td>
                      <table border="0">
                        <tbody>
                          <tr>
                            <td>Question</td>
                            <td style="text-align:justify">
                              <p>Which of the following is a cone?</p>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Option </td>
                            <td>
                              <table>
                                <tbody>
                                  <tr>
                                    <td><strong>No.</strong></td>
                                    <td><strong>Correct</strong></td>
                                    <td><strong>Choices</strong></td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>
                                      <i class="icon-check"></i>

                                    </td>
                                    <td>
                                      <p><img alt="" src="http://localhost/examsubject/admin/ckeditor/plugins/imageuploader/uploads/71c28bc.gif"
                                          style="height:100px; width:100px"></p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>
                                      <i class="icon-check"></i>

                                    </td>
                                    <td>
                                      <p><img alt="" src="http://localhost/examsubject/admin/ckeditor/plugins/imageuploader/uploads/8e8138b.gif"
                                          style="height:100px; width:100px"></p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>
                                      <i class="icon-check-empty"></i>

                                    </td>
                                    <td>
                                      <p><img alt="" src="http://localhost/examsubject/admin/ckeditor/plugins/imageuploader/uploads/995ba8d.gif"
                                          style="height:100px; width:100px"></p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>
                                      <i class="icon-check"></i>

                                    </td>
                                    <td>
                                      <p><img alt="" src="http://localhost/examsubject/admin/ckeditor/plugins/imageuploader/uploads/10a0913d.gif"
                                          style="height:100px; width:100px"></p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>Marks</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Hint</td>
                            <td>
                              <p>if you are write in hint section then its show on during the exam</p>
                            </td>
                          </tr>
                          <tr>
                            <td>Explanation</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>


                  <tr>
                    <td valign="top">2</td>
                    <td valign="top">60</td>
                    <td>
                      <table border="0">
                        <tbody>
                          <tr>
                            <td>Question</td>
                            <td style="text-align:justify">
                              <p>If the&nbsp; number&nbsp; 91876&nbsp; *&nbsp; 2&nbsp; is&nbsp; completely&nbsp; divisible&nbsp;
                                by&nbsp; 8,&nbsp; then&nbsp; the&nbsp; smallest&nbsp; whole number in place of * will be
                                :</p>
                            </td>
                          </tr>
                          <tr>
                            <td>Option</td>
                            <td>
                              <table>
                                <tbody>
                                  <tr>
                                    <td><strong>No.</strong></td>
                                    <td><strong>Correct</strong></td>
                                    <td><strong>Choices</strong></td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>1</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>2</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>
                                      <i class="icon-dot-circle-o"></i>


                                    </td>
                                    <td>
                                      <p>3</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>4</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>None of these</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>Marks</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Hint</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Explanation</td>
                            <td>
                              <p>The number 6<br> must be divisible by 8.<br> So, x = 3, as 632 s divisible by 8i</p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>


                  <tr>
                    <td valign="top">3</td>
                    <td valign="top">59</td>
                    <td>
                      <table border="0">
                        <tbody>
                          <tr>
                            <td>Question</td>
                            <td style="text-align:justify">
                              <p>The&nbsp; difference&nbsp; between&nbsp; the&nbsp; local&nbsp; value&nbsp; and&nbsp; the&nbsp;
                                face&nbsp; value&nbsp; of&nbsp; 7&nbsp; in&nbsp; the&nbsp; numberal 32675149 is</p>
                            </td>
                          </tr>
                          <tr>
                            <td>Option</td>
                            <td>
                              <table>
                                <tbody>
                                  <tr>
                                    <td><strong>No.</strong></td>
                                    <td><strong>Correct</strong></td>
                                    <td><strong>Choices</strong></td>
                                  </tr>
                                  <tr>
                                    <td>1</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>75142</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>64851</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>5149</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>
                                      <i class="icon-dot-circle-o"></i>


                                    </td>
                                    <td>
                                      <p>69993</p>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>
                                      <i class="icon-circle-blank"></i>


                                    </td>
                                    <td>
                                      <p>None of these</p>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td>Marks</td>
                            <td>1</td>
                          </tr>
                          <tr>
                            <td>Hint</td>
                            <td></td>
                          </tr>
                          <tr>
                            <td>Explanation</td>
                            <td>
                              <p>(Local value of 7) -(Face value of 7) = (70000-7) = 69993</p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                          </tr>

                        </tbody>
                      </table>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>