<div class="animated fadeIn">
  <div class="row">
    <div class="col-6">
      <h3>{{quiz.testName}}</h3>
    </div>
    <div class="col-6 text-right">
      <label>Language: </label>
              <select [(ngModel)]="languageName" (change)="changeLanguage(languageName)">
                <option value="english">English</option>
                <option value="hindi">Hindi</option>
              </select>
      </div>
  </div>
  <div id="quiz" class="row" style="margin-left:-35px;margin-right:-35px;">
    <div class="col-sm-9" *ngIf="mode=='quiz' && quiz">
      <div class="card card-accent-primary" style="height:550px" *ngFor="let question of filteredQuestions;">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-5">
              <div class="badge badge-primary" style="font-size:16px">
               Que. No. {{pager.index + 1}}.
              </div>
            </div>
            <div class="col-sm-7 text-right">
              <div *ngIf="config.duration" class="badge badge-primary float-right" style="font-size:16px;font-weight:500;">Time:
                {{ellapsedTime}} / {{duration}}</div>
            </div>
          </div>
        </div>
        <perfect-scrollbar style="position: relative;width: 100%; max-height: 450px;overflow: auto;">
          <div class="card-body">
            <h3 class="font-weight-normal">
              <img *ngIf="IsEnglish" [src]="question.image_English" style="max-height: 300px;width: 100%;" />
              <img *ngIf="!IsEnglish" [src]="question.image_Hindi" style="max-height: 300px;width: 100%;" />
            </h3>
          </div>
        </perfect-scrollbar>
        <div class="card-footer">
          <div class="row text-left options">
            <div class="col-sm-2" *ngFor="let option of question.options">
              <div *ngIf="!QuestionTypeIsSingleChoice" class="option">
                <mat-checkbox color="primary" id="option{{option.optionID}}" [(ngModel)]="option.selected" (change)="onSelect(question, option);">{{option.option}}</mat-checkbox>
              </div>
              <div *ngIf="QuestionTypeIsSingleChoice" class="option">
                <mat-radio-button 
                  [value]="option.optionID" 
                  ngDefaultControl color="primary" 
                  [(ngModel)]="option.selected" 
                  name="option.selected"
                  (click)="onSelect(question, option);">
                  {{option.option}}
                </mat-radio-button>
              </div>   
            </div>
          </div>
          <hr/>
          <button mat-raised-button color="primary" *ngIf="config.allowBack" (click)="goTo(pager.index - 1);">Previous</button>
          <button mat-raised-button color="accent">Mark for Review & Next</button>
          <button mat-raised-button color="primary" (click)="goTo(pager.index + 1);">Save & Next</button>
          <!-- <botton mat-raised-button color="primary" (click)="resetAnswer()">Reset</button> -->
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card card-accent-primary">
        <div class="card-header text-center" style="padding: 10px;">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="Physics">
          
            <mat-button-toggle (click)="goTo(0)" value="Physics">Physics</mat-button-toggle>
            <mat-button-toggle (click)="goTo(2)" value="Chemistry">Chemistry</mat-button-toggle>
            <mat-button-toggle (click)="goTo(4)" value="Biology">Biology</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <perfect-scrollbar style="position: relative;width: 100%; max-height: 418px;overflow: auto;">
          <div class="card-body text-center">
            <button mat-raised-button matTooltip="Not Visited">5</button>
            <button mat-raised-button color="warn" matTooltip="Not Answered">12</button>
            <button mat-raised-button color="accent" matTooltip="Mark for Review">7</button>
            <button mat-raised-button color="primary" matTooltip="Answered">45</button>
            <hr/>
            <!-- [class.btn-primary]="true" -->
            <!-- color="{{ isAnswered(question) == 'Answered'? 'primary': 'basic' }}" -->
            <button *ngFor="let question of quiz.questions; let index = index;"
              [color]="getStyle(question)"
              mat-raised-button (click)="goTo(index)" >
              {{index+1}}
            </button>
          </div>
        </perfect-scrollbar>
        <div class="card-footer">
          
          <div class="text-center"> <button mat-raised-button (click)="onSubmit();" class="float-center" color="primary" >Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div id="contentToConvert" class="card">
        <div class="card-header">
          <strong class="card-title">Quiz Result</strong>
        </div>
        <div class="card=body">
            <div class="col-sm-12">
              <div class="result" *ngIf="mode=='result'">
                <h2>{{quiz.testName}}</h2>
                <div  *ngFor="let question of quiz.questions; let index = index">
                  <div class="result-question">
                    <h5>{{index + 1}}. {{question.name}}</h5>
                    <div class="row">
                      <div class="col-6" *ngFor="let Option of question.options">
                        <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" /> {{Option.name}}
                      </div>
                    </div>
                    <div class="p-1 m-2 alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is
                      {{isCorrect(question)}}.
                      
                    </div>
                  </div>
                </div>
                <div>  
                  <button mat-raised-button color="primary"id="downloadButton" type="button" value="Download Result" (click)="ConvertToPDF()">Download Result</button>

                </div>  
                <!-- <h4 class="alert alert-info text-center">You may close this window now.</h4> -->
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

