<div class="animated fadeIn">
  <div class="row">
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-3 clearfix"><i class="fa fa-cogs bg-primary p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-primary mb-0 mt-2">{{TotalTest}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Total Test</div>
        </div>
        <div class="card-footer px-3 py-2"><a class="font-weight-bold font-xs btn-block text-muted" href="#" 
          routerLink="/student/view-online-test">View More
            <i class="fa fa-angle-right float-right font-lg"></i></a></div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-3 clearfix"><i class="fa fa-cogs bg-success p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-success mb-0 mt-2">{{Completed}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Attempted</div>
        </div>
        <div class="card-footer px-3 py-2"><a class="font-weight-bold font-xs btn-block text-muted" href="#" routerLink="/student/view-online-test">View More
            <i class="fa fa-angle-right float-right font-lg"></i></a></div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-3 clearfix"><i class="fa fa-cogs bg-warning p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-warning mb-0 mt-2">{{Started}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Not Submitted</div>
        </div>
        <div class="card-footer px-3 py-2"><a class="font-weight-bold font-xs btn-block text-muted" href="#" routerLink="/student/view-online-test">View More
            <i class="fa fa-angle-right float-right font-lg"></i></a></div>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="card">
        <div class="card-body p-3 clearfix"><i class="fa fa-cogs bg-danger p-3 font-2xl mr-3 float-left"></i>
          <div class="h5 text-danger mb-0 mt-2">{{NotStarted}}</div>
          <div class="text-muted text-uppercase font-weight-bold font-xs">Not Attempted</div>
        </div>
        <div class="card-footer px-3 py-2"><a class="font-weight-bold font-xs btn-block text-muted" routerLink="/student/view-online-test" href="#">View More
            <i class="fa fa-angle-right float-right font-lg"></i></a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Student Result
          <div class="card-header-actions">
            <a href="#" routerLink="/student/view-result">
              <small class="text-muted">View More</small>
            </a>
          </div>
        </div>
        <div class="card-body" >
          <div class="chart-wrapper" >
            <canvas baseChart class="chart" *ngIf="lineChartData.length > 0"  [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColours" [legend]="lineChartLegend"
              [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>