<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
  <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
</ngx-spinner>
<button mat-stroked-button id="btnAddNew" *ngIf="btnAddNew" color="primary" (click)="changeShowStatus()"
  style="outline: 0px;">
  Add New
</button>
<hr>
<div class="row" *ngIf="showAddDiv">
  <div class="col-sm-12">
    <div class="mat-elevation-z8">
      <div class="card card-accent-primary">
        <div class="card-header">
          <strong class="card-title" style="line-height:40px;font-size: 18px;font-weight: 500">{{Title}}</strong>
          <a mat-icon-button color="primary" class="float-right" (click)="this.showAddDiv=false;this.btnAddNew=true;">
            <mat-icon aria-label="icon">cancel</mat-icon>
          </a>
        </div>
        <div class="card-body">
          <form id="StudyMaterialForm" name="Form" (ngSubmit)="addStudyMaterial()" #studyMaterialForm="ngForm">
            <div class="row">
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="studyMaterialModel.Tittle" name="Tittle" autocomplete="off" #Tittle="ngModel"
                    required matInput placeholder="Tittle" type="text" maxlength="200">
                  <mat-error *ngIf="Tittle.invalid && (Tittle.dirty || Tittle.touched)">
                    <mat-error *ngIf="Tittle.errors.required">Tittle is required.</mat-error>
                    <mat-error *ngIf="Tittle.errors.maxlength">Reaches maximum limit.</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="studyMaterialModel.SubTittle" name="SubTittle" autocomplete="off"
                    #SubTittle="ngModel" required matInput placeholder="Sub Tittle" type="text" maxlength="200">
                  <mat-error *ngIf="SubTittle.invalid && (SubTittle.dirty || SubTittle.touched)">
                    <mat-error *ngIf="SubTittle.errors.required">Sub Tittle is required.</mat-error>
                    <mat-error *ngIf="SubTittle.errors.maxlength">Reaches maximum limit.</mat-error>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.SubjectID" name="SubjectID"
                      (ngModelChange)="onChangeSubject($event)" [ngModelOptions]="{standalone: true}"
                      #SubjectID="ngModel" placeholder="Subject" required>
                      <mat-option *ngFor="let subject of subject" [value]="subject.SubjectID">
                        {{subject.Subject}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SubjectID.invalid && (SubjectID.dirty || SubjectID.touched)">
                      <mat-error *ngIf="SubjectID.errors.required">Subject is required.</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.TopicID" name="TopicID"
                      (ngModelChange)="onChangeTopic($event)" [ngModelOptions]="{standalone: true}" placeholder="Topic">
                      <mat-option *ngFor="let topic of topic" [value]="topic.TopicID">
                        {{topic.Topic}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.SubTopicID" name="SubTopicID" placeholder="SubTopic">
                      <mat-option *ngFor="let subTopic of subTopic" [value]="subTopic.SubTopicID">
                        {{subTopic.SubTopic}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.SessionID" name="SessionID" #SessionID="ngModel"
                      placeholder="Session" required>
                      <mat-option *ngFor="let sessions of session" [value]="sessions.SessionID">
                        {{sessions.Session}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="SessionID.invalid && (SessionID.dirty || SessionID.touched)">
                      <mat-error *ngIf="SessionID.errors.required">Session is required.</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.StreamID" name="StreamID"
                      (ngModelChange)="onChangeStream($event)" [ngModelOptions]="{standalone: true}" #StreamID="ngModel"
                      placeholder="Stream" multiple required>
                      <mat-option *ngFor="let stream of stream" [value]="stream.StreamID">
                        {{stream.Stream}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="StreamID.invalid && (StreamID.dirty || StreamID.touched)">
                      <mat-error *ngIf="StreamID.errors.required">Stream is required.</mat-error>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.CourseID" name="CourseID"
                      (ngModelChange)="onChangeCourse($event)" [ngModelOptions]="{standalone: true}" multiple
                      placeholder="Course">
                      <mat-option *ngFor="let course of course" [value]="course.CourseID">
                        {{course.Course}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div> -->
            <div class="row">
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field>
                    <mat-select [(ngModel)]="studyMaterialModel.BatchID" name="BatchID" multiple placeholder="Batch">
                      <mat-option *ngFor="let batch of batch" [value]="batch.BatchID">
                        {{batch.Batch}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="col-sm-4">
                <div class="form-group">
                  <input [(ngModel)]="studyMaterialModel.URL_English" name="URL_English" autocomplete="off"
                    #URL_English="ngModel"  placeholder="URL" type="file"
                    (change)="handleFileInput($event.target.files)">
                  <mat-error *ngIf="URL_English.invalid && (URL_English.dirty || URL_English.touched)">
                    <mat-error *ngIf="URL_English.errors.required">File Upload is required.</mat-error>
                  </mat-error>
                </div>
              </div>
              <label title="">{{studyMaterialModel.URL_English}}</label>
              <!-- <div class="col-sm-2">
                  <mat-checkbox [(ngModel)]="studyMaterialModel.IsActive"  #IsActive="ngModel" name="IsActive">Is Visible
                  </mat-checkbox>
                </div> -->
              <!-- <div class="col-sm-4">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="onlineTestModel.Topic" name="Topic" autocomplete="off" matInput
                      placeholder="Topic" type="text">
                  </mat-form-field>
                </div>
              </div> -->
            </div>
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <mat-form-field class="example-full-width">
                    <textarea [(ngModel)]="onlineTestModel.Instructions" name="Instructions" autocomplete="off" matInput
                      placeholder="Instruction"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div> -->
            <button mat-raised-button color="primary" [disabled]="!studyMaterialForm.form.valid">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9">
      <h4>Test List</h4>
    </div>
    <div class="col-sm-3">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <perfect-scrollbar style="position: relative;width: 100%;overflow: auto;">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="Tittle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
              <td mat-cell *matCellDef="let element"> {{element.Tittle}} </td>
            </ng-container>
            <ng-container matColumnDef="SubTittle">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Sub Title </th>
              <td mat-cell *matCellDef="let element"> {{element.SubTittle}} </td>
            </ng-container>
            <ng-container matColumnDef="Subject">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
              <td mat-cell *matCellDef="let element"> {{element.Subject}} </td>
            </ng-container>
            <ng-container matColumnDef="Topic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Topic </th>
              <td mat-cell *matCellDef="let element"> {{element.Topic}} </td>
            </ng-container>
            <ng-container matColumnDef="SubTopic">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SubTopic </th>
              <td mat-cell *matCellDef="let element"> {{element.SubTopic}}</td>
            </ng-container>
            <!-- <ng-container matColumnDef="Session">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Session </th>
              <td mat-cell *matCellDef="let element"> {{element.Session}} </td>
            </ng-container>
            <ng-container matColumnDef="Stream">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Stream </th>
              <td mat-cell *matCellDef="let element"> {{element.Stream}} </td>
            </ng-container>
            <ng-container matColumnDef="course">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Course </th>
              <td mat-cell *matCellDef="let element"> {{element.course}} </td>
            </ng-container>
            <ng-container matColumnDef="Batch">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch </th>
              <td mat-cell *matCellDef="let element"> {{element.Batch}} </td>
            </ng-container> -->
            <ng-container matColumnDef="URL_English">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Doc </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Download" color="primary"
                  (click)="DownloadFile(element.URL_English)" aria-hidden="true" style="outline: 0px;">
                  <mat-icon aria-label="icon">cloud_download</mat-icon>
                </button> </td>
            </ng-container>
            <ng-container matColumnDef="Edit">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Edit" color="primary"
                  (click)="getStudyMaterialById(element.StudyMaterialID)" aria-hidden="true" style="outline: 0px;">
                  <mat-icon aria-label="icon">edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="Delete">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button matTooltip="Delete" color="warn" (click)="deleteStudyMaterial(element)"
                  aria-hidden="true" style="outline: 0px;">
                  <mat-icon aria-label="icon">delete</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </perfect-scrollbar>
        <div class="no-results" *ngIf="IsEmpty">
          No results
        </div>
        <mat-paginator [pageSizeOptions]="PaginationConfig" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>