<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
  <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
</ngx-spinner>
<div style="margin-top: 60px">
  <main class="">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="mat-elevation-z8">
            <div class="card card-accent-primary">
              <div class="card-header">
                <strong class="card-title" style="line-height:40px;font-size: 18px;font-weight: 500">Change Password</strong>
              </div>
              <div class="card-body">
                <form id="ChangePasswordForm" name="Form1" (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Current Password" autocomplete="off" name="CurrentPassword"
                            [(ngModel)]="changePasswordViewModel.CurrentPassword" #CurrentPassword="ngModel" required
                            maxlength="20" type="password">
                          <mat-error
                            *ngIf="CurrentPassword.invalid && (CurrentPassword.dirty || CurrentPassword.touched)">
                            <mat-error *ngIf="CurrentPassword.errors.required">Current Password is required.</mat-error>
                            <mat-error *ngIf="CurrentPassword.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="New Password" autocomplete="off" name="NewPassword"
                            [(ngModel)]="changePasswordViewModel.NewPassword" #NewPassword="ngModel" required
                            minlength="3" maxlength="20" type="password">
                          <mat-error *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)">
                            <mat-error *ngIf="NewPassword.errors.required">New Password is required.</mat-error>
                            <mat-error *ngIf="NewPassword.errors.minlength">This must be at least 3 characters long.
                            </mat-error>
                            <mat-error *ngIf="NewPassword.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="form-group">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Confirm Password" autocomplete="off" name="ConfirmPassword"
                            [(ngModel)]="changePasswordViewModel.ConfirmPassword" #ConfirmPassword="ngModel" required
                            minlength="3" maxlength="20" type="password">
                          <mat-error
                            *ngIf="ConfirmPassword.invalid && (ConfirmPassword.dirty || ConfirmPassword.touched)">
                            <mat-error *ngIf="ConfirmPassword.errors.required">Confirm Password is required.</mat-error>
                            <mat-error *ngIf="ConfirmPassword.errors.minlength">This must be at least 3 characters long.
                            </mat-error>
                            <mat-error *ngIf="ConfirmPassword.errors.maxlength">Reaches maximum limit.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <!-- <div class="col-sm-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Total Test" value="{{testSeriesModel.TotalTest}}" autocomplete="off"
                        name="TotalTest" [(ngModel)]="testSeriesModel.TotalTest" #TotalTest="ngModel" required min="1" max="20"
                        type="number">
                      <mat-error *ngIf="TotalTest.invalid && (TotalTest.dirty || TotalTest.touched)">
                        <mat-error *ngIf="TotalTest.errors.required">Total Test is required.</mat-error>
                        <mat-error *ngIf="TotalTest.errors.min">This must be at least 3 characters long.</mat-error>
                        <mat-error *ngIf="TotalTest.errors.maximum">Reaches maximum limit.</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div> -->
                  </div>
                  <button mat-raised-button color="primary" [disabled]="!changePasswordForm.form.valid">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>