<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
  <p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
</ngx-spinner>
<div class="animated fadeIn">
  <button mat-stroked-button id="btnAddNew" *ngIf="btnAddNew" color="primary" (click)="changeShowStatus()" style="outline: 0px;">
    Add New
  </button>
  <hr>
  <div class="row" *ngIf="showAddDiv">
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <div class="card card-accent-primary">
          <div class="card-header">
            <strong class="card-title" style="line-height:40px;font-size: 18px;font-weight: 500">{{Title}}</strong>
            <a mat-icon-button color="primary" class="float-right" (click)="this.showAddDiv=false;this.btnAddNew=true;">
              <mat-icon aria-label="icon">cancel</mat-icon>
            </a>
          </div>
          <div class="card-body">
            <form id="TestSeriesForm" name="Form1" (ngSubmit)="AddTestSeries()" #testSeriesForm="ngForm">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Test Series" autocomplete="off" name="TestSeries" [(ngModel)]="testSeriesModel.TestSeries"
                        #TestSeries="ngModel" required minlength="3" maxlength="20" type="text">
                      <mat-error *ngIf="TestSeries.invalid && (TestSeries.dirty || TestSeries.touched)">
                        <mat-error *ngIf="TestSeries.errors.required">Test Series is required.</mat-error>
                        <mat-error *ngIf="TestSeries.errors.minlength">This must be at least 3 characters long.</mat-error>
                        <mat-error *ngIf="TestSeries.errors.maxlength">Reaches maximum limit.</mat-error>
                      </mat-error>
                    </mat-form-field>
                    <input name="TestSeriesID" hidden [(ngModel)]="testSeriesModel.TestSeriesID" TestSeriesID="ngModel"
                      id="TestSeriesID" type="text" class="form-control">
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Total Test" value="{{testSeriesModel.TotalTest}}" autocomplete="off"
                    name="TotalTest" [(ngModel)]="testSeriesModel.TotalTest" #TotalTest="ngModel" required min="1" max="20"
                    type="number">
                  <mat-error *ngIf="TotalTest.invalid && (TotalTest.dirty || TotalTest.touched)">
                    <mat-error *ngIf="TotalTest.errors.required">Total Test is required.</mat-error>
                    <mat-error *ngIf="TotalTest.errors.min">This must be at least 3 characters long.</mat-error>
                    <mat-error *ngIf="TotalTest.errors.maximum">Reaches maximum limit.</mat-error>
                  </mat-error>
                </mat-form-field>
              </div> -->
              </div>
              <button mat-raised-button color="primary" [disabled]="!testSeriesForm.form.valid">Save</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Test Series List</strong>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-outline table-striped ">
              <thead class="thead-light">
                <th>Test Series</th>
                <th>Total Test</th>
                <th>Option</th>
              </thead>
              <tbody>
                <tr *ngFor="let testSeriesModel of testSeries">
                  <td>
                    <mat-form-field class="example-full-width">
                      <input [readonly]="isTestSeriesReadonly" matInput value="{{testSeriesModel.TestSeries}}"
                        autocomplete="off" name="TestSeries" [(ngModel)]="testSeriesModel.TestSeries" #TestSeries="ngModel"
                        required minlength="3" maxlength="20" type="text">
                      <mat-error *ngIf="TestSeries.invalid && (TestSeries.dirty || TestSeries.touched)">
                        <mat-error *ngIf="TestSeries.errors.required">Test Series is required.</mat-error>
                        <mat-error *ngIf="TestSeries.errors.minlength">This must be at least 3 characters long.</mat-error>
                        <mat-error *ngIf="TestSeries.errors.maxlength">Reaches maximum limit.</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input [readonly]="isTestSeriesReadonly" matInput value="{{testSeriesModel.TotalTest}}"
                        autocomplete="off" name="TotalTest" [(ngModel)]="testSeriesModel.TotalTest" #TotalTest="ngModel"
                        required min="1" max="20" type="number">
                      <mat-error *ngIf="TotalTest.invalid && (TotalTest.dirty || TotalTest.touched)">
                        <mat-error *ngIf="TotalTest.errors.required">Total Test is required.</mat-error>
                        <mat-error *ngIf="TotalTest.errors.min">This must be at least 3 characters long.</mat-error>
                        <mat-error *ngIf="TotalTest.errors.maximum">Reaches maximum limit.</mat-error>
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td>
                    <div class="button-row">
                      <button mat-icon-button color="primary" (click)="Edit(testSeriesModel)" aria-hidden="true" style="outline: 0px;">
                        <mat-icon aria-label="icon">edit</mat-icon>
                      </button>
                      <button mat-icon-button color="primary" (click)="UpdateTestSeries(testSeriesModel)" aria-hidden="true"
                        style="outline: 0px;">
                        <mat-icon aria-label="icon">done</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="DeleteTestSeries(testSeriesModel)" aria-hidden="true"
                        style="outline: 0px;">
                        <mat-icon aria-label="icon">delete</mat-icon>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="col-sm-9">
      <h4>Test Series List</h4>
    </div>
    <div class="col-sm-3 text-right">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <div class="mat-elevation-z8">
        <perfect-scrollbar style="position: relative;width: 100%;overflow: auto;">
          <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="TestSeries">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Test Series </th>
              <td mat-cell *matCellDef="let element"> {{element.TestSeries}} </td>
            </ng-container>
            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="getTestSeriesByID(element)" aria-hidden="true" style="outline: 0px;">
                  <mat-icon aria-label="icon">edit</mat-icon>
                </button>
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="button1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="warn" (click)="DeleteTestSeries(element)" aria-hidden="true" style="outline: 0px;">
                  <mat-icon aria-label="icon">delete</mat-icon>
                </button>
              </td>
            </ng-container> -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </perfect-scrollbar>
        <div class="no-results" *ngIf="IsEmpty">
          No results
        </div>
        <mat-paginator [pageSizeOptions]="PaginationConfig" showFirstLastButtons></mat-paginator>
      </div>
    </div>
     </div> </div>