<!-- <video id="player" preload="none" controls height="300"
width="600" poster="../../assets/1.PNG"></video> -->
<!-- <div class="row" style="margin: 20px">
	<div class="col-sm-12 col-sx-12">
		<video controls class="player" id="player" width="640" height="360" preload="none" tabindex="0"
			title="MediaElement">
		</video>
	</div>
</div> -->
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-spin-clockwise-fade">
	<p style="padding-top:5px; font-size: 15px; color: black">Please Wait...</p>
  </ngx-spinner>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-sx-12">
			<div class="mat-elevation-z8">
				<video controls class="player" id="player" width="640" height="360" preload="none" tabindex="0"
					title="MediaElement">
				</video>
			</div>
		</div>
	</div>
</div>